$grey: #7e7e7e


*
	//border: 1px solid
	letter-spacing: 1px
@mixin ab_center
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)


header#section_header
	.slider-wrap
		.img-wrap
			position: relative
			padding-bottom: 40%
			overflow: hidden
			img
				width: 100%
				+ab_center
		ul.slick-dots
			bottom: 20px
			li button:before
				color: white
section#section_product
	padding: 60px 0
	.col-md-7, .col-md-5
		display: flex
		align-items: center
		justify-content: center
	.product-detail
		.product-title
			text-align: center
			border-bottom: 1px solid #333
			padding-bottom: 30px 
			> div
				margin-bottom: 15px
			.product-name
				font-size: 18px
			.product-sub-name
				color: $grey
				font-weight: 300
			.product-des
				font-weight: 300
				.price
					font-weight: 400
					margin-left: 30px
		.seemore-area
			text-align: right
			padding: 20px 0
			button
				background: none
				border: none
				font-size: 16px
				cursor: pointer
				transition: .3s
				&:hover
					transform: translateY(2px)
					text-shadow: 0 1px 5px rgba(black, 0.3)

	.product-main-img
		width: 100%
		@media (max-width: 767px)
			width: 50%
			margin-bottom: 40px
		img
			width: 100%
	.slider-nav
		margin-top: 20px
		@media (max-width: 767px)
			display: none
		.img-wrap
			cursor: pointer
			overflow: hidden
			position: relative
			padding-bottom: 100%
			&:hover
				img
					transform: translate(-50%, -50%) scale(1.05)
			img
				width: 95%
				transition: .3s
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				
		.slick-slide
			> div
				border: 1px solid transparent
		.slick-current
			> div
				border: 1px solid #ccc

	
	@media (max-width: 580px)
		.slick-arrow
			top: 30% !important
		.slick-next
			right: 25px !important
		.slick-prev
			left: 25px !important


section#section_banner3
	.img-wrap
		width: 100%
		img
			width: 100%

section#video
	padding: 80px 0
	.col-lg-6
		justify-content: center
		align-items: center
		display: flex
	.video-wrap
		width: 100%
		position: relative
		padding-bottom: 56.25%
		@media (max-width: 991px)
			margin-bottom: 50px
		iframe
			height: 100%
			width: 100%
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			
	.content-wrap
		.title-area
			text-align: center
			margin-bottom: 50px
			h2
				font-size: 20px
				margin: 10px 0
				letter-spacing: 3px
		.content
			font-weight: 300
			padding: 0 10px
			@media (max-width: 991px)
				padding: 0 0px
			p
				letter-spacing: 1px
				line-height: 28px
				color: #666
				white-space: pre-line
				text-align: justify

section.section_brand
	background-position: center center
	background-size: cover
	height: 500px
	position: relative
	overflow: hidden
	@media (max-width: 991px)
		height: 400px
	&:before
		content: ""
		display: block
		+ab_center
		width: 100%
		height: 100%
		background: rgba(black, 0.6)
		pointer-events: none
		//z-index: 99
	&:after
		content: "代理專區"
		writing-mode: vertical-lr
		display: block
		width: 250px
		height: 250px
		background: white
		position: absolute
		transform: translate(-70%, -50%)
		left: 0
		top: 50%
		z-index: 1000
		border-radius: 50%
		text-align: center
		padding-left: 190px
		letter-spacing: 3px
		pointer-events: none
		transform: translate(-100%, -50%)
		transition: .3s



	
	a
		display: block
		width: 100%
		height: 100%
	.logo-area
		+ab_center
		width: 130px
		img
			transition: .5s
			width: 100%
			transform-style: preserve-3d

	&:hover
		&:after
			transform: translate(-70%, -50%)
		.bg-img
			img
				width: 120%
				
		.logo-area
			img
				transition-delay: .3s
				transform: rotateY(360deg)
	.bg-img
		position: absolute
		width: 100%
		+ab_center
		z-index: -1
		height: 100%
		overflow: hidden
		img
			transition: .5s
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			object-fit: cover
			width: 100%
			height: 100%
			


section#contact
	background-size: cover
	background-position: center center
	padding: 80px 0
	.form-wrap
		//text-align: center
		background: rgba(white, 0.9)
		padding: 60px 20px
		max-width: 700px 
		margin: 0 auto
		h2
			text-align: center
			margin-bottom: 50px
			font-size: 24px
		.input-wrap
			margin-bottom: 30px
			input, textarea
				width: 100%
				border: 1px solid #ddd
				padding: 7px 15px
				border-radius: 5px
				background: none
				letter-spacing: 2px
			label
				margin: 0
				width: 100%
			span.wpcf7-not-valid-tip
				font-weight: 300
		.sub-area
			width: 100%
			text-align: center
			input, button
				color: white
				background: black
				border: none
				font-weight: 300
				padding: 10px 40px
				border-radius: 5px
				cursor: pointer
				transition: .3s
				&:hover
					transform: translateY(2px)
					box-shadow: 0 1px 10px rgba(black, 0.7)
				@media (max-width: 991px)
					width: 100%
		::placeholder
			color: #aaa


footer#section_footer
	//border-top: 1px solid #eee
	.container
		padding-top: 80px
		padding-bottom: 80px
		.logo-wrap
			img
				width: 100%
				max-width: 160px
		.list-title, .widget-title
			margin-bottom: 30px
			font-size: 16px
			font-weight: 400
		.list-wrap, .address-wrap
			ul
				padding: 0
				margin: 0
				li
					list-style: none
					font-size: 14px
					margin-bottom: 5px
					color: #777
					font-weight: 300
					a
						cursor: pointer
						color: #777
				
		.list-wrap
			width: 60%
			margin: 0 auto
			@media (max-width: 991px)
				width: 100%
				margin: 50px 0
	.cpr-area
		li
			text-align: center
			font-size: 12px
			color: #999
			background: #f0f0f0
			padding: 15px 0
			letter-spacing: 2px
			list-style: none
			p
				margin-bottom: 0






nav
	padding-top: 15px !important
	padding-bottom: 15px !important
	background: white
	a.nav-link, a.dropdown-item
		font-size: 14px
		color: black !important
		padding-left: 20px !important
		padding-right: 20px !important
		font-weight: 300
		text-align: center
	a.nav-link
		position: relative
		
		&:before
			content: ""
			display: block
			position: absolute
			height: 1px
			width: 0%
			background-color: #777
			top: 40px
			left: 50%
			transform: translateX(-50%)
			transition: .3s
		&:hover
			&:before
				width: 50%
		@media (max-width: 991px)
			padding-top: 20px
			padding-bottom: 20px
			text-align: center
	.fb-icon-bg
		position: relative
		display: block
		text-align: center
		.fab
			color: white

			&:after
				content: ""
				display: block
				+ab_center
				height: 25px
				width: 25px
				background: $grey
				z-index: -1
				border-radius: 50%
.nav-shadow
	box-shadow: 0 1px 10px rgba(black, 0.2)






* 
	ul
		//margin: 0 !important
	//border: 1px solid

.pagination
	ul
		li
			text-align: center !important
			.current
				display: block
				width: 100%
				height: 100%
				background-color: #c9c7c7
				color: #fff
//============================fix himi css======================

.section_title
	.title_section
		overflow: hidden
		img
			height: auto !important
	
#product-intro 
	.col-lg-6 
		.prduct-wrap 
			overflow: hidden
			img
				height: auto !important
#product-intro 
	.col-lg-6 
		.content-wrap 
			overflow: hidden
			img
				height: auto !important

section#section_content 
	.img-section 
		> .img-wrap 
			overflow: hidden
			> img
				//height: auto !important
				object-fit: cover
				width: 100%
    			height: 100%
.content-block,.content-post
	.img-wrap 
		overflow: hidden
		img
			height: auto !important
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)

.suc-ms
	color: darken(red, 20%)
	font-weight: 400
	letter-spacing: 5px
	display: none
	margin-top: 30px





//============

section#contact-us-form
	position: relative
	&:before
		content: ""
		position: absolute
		display: block
		height: 100%
		width: 100%
		background-image: url(../img/home/contact-bg.png)
		opacity: 0.5
		z-index: -2
		background-size: cover
		background-position: center center
	.title-wrap
		background-image: url(../img/arrow-top.png)
		background-size: 100% 100%
		background-position: center center
		text-align: center
		width: 100vw
		position: relative
		left: 50%
		right: 50%
		margin-left: -50vw
		margin-right: -50vw
		//padding: 20px 0
		height: 150px
		display: flex
		justify-content: center
		align-items: center
		h2
			font-size: 24px
			font-weight: 300
			position: relative
			&:before
				content: ""
				position: absolute
				display: block
				width: 25%
				height: 3px
				background: #fe925f
				bottom: -15px
				left: 50%
				transform: translateX(-50%)
	.contact-form-wrap
		position: relative
		margin: 150px 0
		@media (max-width: 576px)
			margin: 120px 0
		&:before
			content: ""
			display: block
			background: white
			position: absolute
			width: 110%
			height: 130%
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			z-index: -1
			box-shadow: 0 1px 10px rgba(black, 0.3)
			@media (max-width: 576px)
				height: 120%
		.input-wrap
			margin-bottom: 40px
			span
				display: block
				position: relative
				width: 100%
				span
					position: absolute
					font-weight: 300
					bottom: -20px
					left: 50%
					transform: translateX(-50%)
					color: darken(red, 10%)
			span input, span textarea
				width: 100%
				height: 35px
				outline: 0
				padding: 0 10px
				border: 0
				border-bottom: 1px solid #999
				//border: none
			span textarea
				height: 250px

			.label 
				position: absolute
				pointer-events: none
				left: 20px
				top: 4px
				transition: 0.2s ease all
				color: #666
				font-weight: 200
				font-size: 16px
				letter-spacing: 2px
			.your-message + .label
				top: auto
				bottom: 50px

			span input:focus + .label
				

			textarea:focus ~ .label, textarea:not(:focus):valid ~ .label
				

			.label-change
				top: -15px
				bottom: 5px
				left: 20px
				font-size: 12px
				color: #fe925f
			.message-change
				color: #fe925f
				bottom: 300px !important
				left: 20px
				font-size: 12px
	.sub-area
		text-align: center
		margin-top: 50px
		margin: 0 15px
		width: 100%
		input
			color: white
			background: #333
			border: none
			font-weight: 100
			padding: 10px 40px
			border-radius: 5px
			cursor: pointer
			transition: .3s
			&:hover
				transform: translateY(2px)
				box-shadow: 0 1px 10px rgba(black, 0.7)
			@media (max-width: 991px)
				width: 100%
//section class="messege"








section#form-location-section
	background: #2C3E50
	.wrap
		padding: 10vw 0
		display: flex
		justify-content: center
		align-items: center
		color: white
		min-height: 350px
		.custom-h5
			position: relative
			font-weight: 400
			margin-bottom: 20px
			@media (max-width: 576px)
				transform: translateX(20px)
			&:before
				position: absolute
				width: 10px
				height: 100%
				content: ""
				display: block
				background: #fe925f
				top: 0
				left: -20px
		ul
			li
				display: flex
				margin-bottom: 8px
				span
					font-weight: 100
				span:nth-child(1)
					width: 100px
				span:nth-child(2)
					flex: 1
	.map-wrap
		min-height: 350px
		margin-left: -15px
		margin-right: -15px
		height: 100%
		iframe
			width: 100%
			height: 100%






//=============fix================
section#news-section
	.title-wrap
		width: 100%
		text-align: center
		padding: 20px 0
		h2
			font-size: 36px
			font-weight: 300
			position: relative
			
			display: inline-block
			//width: 100%
			&:before
				content: ""
				position: absolute
				display: block
				width: 40%
				height: 3px
				background: #fe925f
				bottom: -15px
				left: 50%
				transform: translateX(-50%)
	.title
		margin-top: 10px
		h5
			overflow: hidden
			white-space: nowrap
			text-overflow: ellipsis
	.date
		padding-bottom: 10px !important
	.cate
		margin-bottom: 10px
		a:nth-child(1)
			display: none
		a
			display: inline-block
			background: #fe925f
			pointer-events: none
			border-radius: 5px
			padding: 3px 15px
			font-size: 12px
			color: white
			font-weight: 300
	.sub-area
		text-align: center
		margin-top: 50px
		margin: 0 15px
		width: 100%
		padding: 60px 0
		button
			color: white
			background: #333
			border: none
			font-weight: 100
			padding: 10px 40px
			border-radius: 5px
			cursor: pointer
			transition: .3s
			&:hover
				transform: translateY(2px)
				box-shadow: 0 1px 10px rgba(black, 0.7)
			@media (max-width: 991px)
				width: 100%

section#news-post
	.date
		padding-bottom: 10px !important
	.cate
		margin-bottom: 10px
		a
			display: inline-block
			background: #fe925f
			pointer-events: none
			border-radius: 5px
			padding: 3px 15px
			font-size: 12px
			color: white
			font-weight: 300





section.messege
	#wpcf7-f310-o1
		.post-name
			display: none
		.sub-area
			text-align: center
			margin-top: 50px
			margin: 0 15px
			width: 100%
			input
				color: white
				background: #333
				border: none
				font-weight: 100
				padding: 10px 40px
				border-radius: 5px
				cursor: pointer
				transition: .3s
				&:hover
					transform: translateY(2px)
					box-shadow: 0 1px 10px rgba(black, 0.7)
				@media (max-width: 991px)
					width: 100%







