
// ===================
// $reset
// ===================
a{
	text-decoration:none;
	color:#000000;
	&:hover{
		text-decoration:none;
		color:#000000;
	}
}

// ===================
// $variation
// ===================

// font

// color

$grey: #7e7e7e;
$dark-grey:#454545;
$black: #000000; 
$white: #fff; 
$brand-color:#fe9260;

// padding
$padding:8px;
$margin:8px;

@mixin title-img-box ($padding-bottom:28%){
	width:100%;
	height: 0;
	padding-bottom:$padding-bottom;
	position: relative;

	
}

@mixin ab_center (){
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



// ===================
// $public
// ===================

body{
	background-color:#f9f9f9;
}

p{font-weight:300;}

.section_title{
	// .container-fluid{
	// 	padding-left:0px;
	// 	padding-right:0px;
	// }

	.title_section{
	@include title-img-box(20%);
	.title_section_mask{
		position:absolute;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		width:100%;
		height:100%;
		background-color:$black;
		opacity:.3;
		z-index:1;
	}
	> img{
	@include ab_center();
	position:absolute;
	width:100%;
	height:100%;
	}

	
}

	.title_section_wrap{
		@include ab_center();
		z-index: 2;
		.custom-h3{
			color:$white;
			font-weight:400;
		}
		@media screen and (max-width:767px){
			width: 100%;
			.custom-h3{
				font-size:1.5rem;
				text-align:center;
			}
		}
	}
}



// ===================
// $about
// ===================




section#section_content{
  .txt:first-child{
  	margin-top:$margin*7;
    padding-top: $padding*8;
    padding-bottom: $padding*8;
    border-top:2px solid lighten($grey,40%);
    border-bottom:2px solid lighten($grey,40%);
    @media screen and (max-width:767px){
    	padding-top: $padding*5;
    	padding-bottom: $padding*5;
    }
    p:nth-child(1).txt-title{
    	color:$grey;
    	text-transform:uppercase;
    }
    p:nth-child(1){
    	color:$dark-grey;
    }
    p:nth-child(2){
    	color:$dark-grey;
    }
 }

  	.img-wrap{
  	margin-top:$margin*5;
  	width: 100%;
  	height:0;
  	position: relative;
  	padding-bottom: 56.25%;
  	img{  		
  		position: absolute;
  		height: 100%;
  		width: 100%;

  		// top: 50%;
  		// left: 50%;
  		// transform: translate(-50%, -50%);
  	}
  }

  .txt:nth-child(3){
  	padding-top: $padding*8;
  	padding-bottom: $padding*8;
  	@media screen and (max-width:767px){
  		padding-top: $padding*5;
  		padding-bottom: $padding*5;
  	}
  	p{
  		color:$dark-grey;
  	}
  }

  .img-section{
  	width:100%;
  	>.img-wrap{
  		display:inline-block;
  		position: relative;
  		width:calc(50% - 12px);
  		height:0;
		padding-bottom: calc(50% - 12px);
		margin-bottom:$margin*3;
		margin-top:0;
		>img{
			height: 100%;
			width: 100%;
			position: absolute;
  			}
  		}
	}
	@media (max-width: 991px){
	.img-section{
	  	>.img-wrap{
	  		display:inline-block;
	  		position: relative;
	  		width:100%;
	  		height:0;
			padding-bottom:100%;
	
			>img{
				height: 100%;
				width: 100%;
				position: absolute;
	  			}
	  		}
		}
	}
}


// ===================
// $product
// ===================
#product-intro{
	padding: $padding*10 0;
	@media (max-width: 991px){
		padding: $padding*5 0;
	}
	.col-lg-6{
		justify-content: center;
		align-items: center;
		display: flex;

		.prduct-wrap{
			width: 100%;
			position: relative;
			padding-bottom: 56.25%;
			@media (max-width: 991px){
				margin-bottom: $margin*3;
			}
			img{
				height: 100%;
				width: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.content-wrap{
			width: 100%;
			height:100%;
			.title-area{
				.custom-h4{
					font-weight:400;}
			}
			.content{
				font-weight: 300;
				@media (max-width: 991px){
					padding: 0 0px
				}
				> div:nth-child(1){
					text-decoration:underline;
				}
				span{
					letter-spacing: 2px;
					line-height: 28px;
					color: #666;
				}
			}

			.img-wrap{
			width: 33%;
			position: relative;
			padding-bottom: 19.14%;
			// @media (max-width: 991px){
			// 	margin-bottom: 50px;
			}
			img{
				height: 100%;
				width: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				}
			}
	}
}


#product-post{
	.txt{
		// color:lighten($dark-grey, 15%);
		color:$dark-grey;
		font-weight:300;
		margin-bottom:$margin*8;
		@media (max-width: 991px){
			margin-bottom:$margin*5;

		}
	}

	.img-box{
		.img-wrap{
			width: 100%;
			position: relative;
			padding-bottom: 56.25%;
			+ .img-wrap{
			margin-top:$margin*3;
			@media (max-width: 991px){
				margin-top:$margin;
				}
			}

			
			img{
				height: 100%;
				width: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				
			}
			
		}
	}
}

section.messege{
	background-size: cover;
	background-position: center center;
	padding: 80px 0;
	@media (max-width: 991px){
	padding: 0px 0;	
	}
	.form-wrap{
		// background: rgba(white, 0.9);
		padding: 60px 20px;
		// max-width: 700px ;
		margin: 0 auto;
		::placeholder{
			color: #aaa;
				}
		h2{
			text-align: center;
			margin-bottom: 50px;
			font-size: 24px;}
		}
		.input-wrap{
			margin-bottom: 30px;
			input, textarea{
				width: 100%;
				border: 1px solid #ddd;
				padding: 7px 15px;
				border-radius: 5px;
				background: none;
				letter-spacing: 2px;
			}
		}
		.sub-area{
			text-align: center;
			button{
				color: white;
				background: black;
				border: none;
				font-weight: 300;
				padding: 10px 40px;
				border-radius: 5px;
				cursor: pointer;
				transition: .3s;
				&:hover{
					transform: translateY(2px);
					box-shadow: 0 1px 10px rgba(black, 0.7);
				// @media (max-width: 991px){
				// 	width: 100%;}
				}

			}
		}
	}


// ===================
// $news
// ===================
// news-post
#news-post{
	margin-top:$margin*8;
	@media screen and (max-width:767px){
		margin-top:$margin*5;
	}
}

.content-post{
	.title{
		.custom-h4{
			font-weight:400;
		}
	}
	.date{
		color:$grey;
		font-size:14px;
		// margin-top:$margin;
	}
	.img-wrap{
		margin-top:$margin;
		width: 100%;
		position: relative;
		padding-bottom: 56.25%;
		+ .img-wrap{
		margin-top:$margin*3;
		@media (max-width: 991px){
			margin-top:$margin;
			}
		}

		
		img{
			height: 100%;
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			
		}
		
	}

	.txt{
		margin-top:$margin*3;
	}

	.social-media{
		i.fa-facebook-square{
			color:#3D5A96;
			&:hover{
				color:darken(#3D5A96, 15%);
			}
		}
		i.fa-twitter-square{
			color:#6BB8EA;
			&:hover{
				color:darken(#6BB8EA, 15%);
			}
		}
	}
}

.side-bar{
	margin-top:$margin*7;
	margin-left:$margin*3;
	.side-news-box{
		padding-bottom:$padding*6;
		.title{
			font-size:18px;
			font-weight:400;
			position: relative;
			padding-bottom:$padding*6;
			&:before{
				content:'';
				display: block;
				width: 10px;
				height:28px;
				background-color:$brand-color;
				position: absolute;
				left:-26px;
			}
		}

		.post-list{
			li{
				margin-bottom:$margin*2;
				a{
				text-decoration:none;
				color:$black;
				display: block;
				cursor: pointer;
				&:hover{
					color:lighten($black,50%);
					}
				}

			time{
				color:$grey;
				font-size:14px;
				}
			}
			
		}

		+ .side-news-box{
			padding-top:$padding*6;
			border-top:2px solid lighten($grey, 30%);
		}
	}
	
}
// news-list

#news-section{
	.main-news{
		padding-top:$padding*10;
		position: relative;
		@media screen and (max-width:767px){
			padding-top:$padding*5;

		}
		.img-wrap.bg-img{
		width: 100%;
		position: relative;
		padding-bottom:56.25%;
		position: relative;
		.bg-mask{
			position: absolute;
			top:0;
			bottom:0;
			left: 0;
			right:0;
			width: 100%;
			height: 100%;
			background: radial-gradient(circle at left center, rgba(241, 241, 241, 0) 0%, rgba(241, 241, 241, 1) 50%,rgba(241, 241, 241, 1) 100%);
			z-index:2;
			@media (max-width: 767px){
				background: radial-gradient(circle at left center, rgba(241, 241, 241, 0.5) 0%, rgba(241, 241, 241, 1) 80%,rgba(241, 241, 241, 1) 100%);

			}
		}
		img{
			height: 100%;
			width: 100%;
			position: absolute;
		}
	}
		.content{
				position: absolute;
				top:50%;
				transform:translateY(-50%);
				z-index: 2;
				.title{
					padding-bottom:$padding*1;
					@media screen and (max-width:767px){
						padding-top:$padding*1;
					}
					.tag,.custom-h5{
						font-weight:400;
					}
				}
				.seemore-area{
					text-align: left;
					button{
						background: none;
						border:none;
						font-size: 16px;
						cursor: pointer;
						transition: .3s;
						&:hover{
							transform: translateY(2px);
							text-shadow: 0 1px 5px rgba(black, 0.3);
						}	
					}
				}

				@media (max-width: 767px){
					position: relative;
					top:100%;
					transform:translateY(0%);
				}			
			}
		}	
	}	


	.content-block{
		box-shadow: 0px 0px 10px lighten($grey, 30%);
		transition:box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
		transition-delay:.1s;
		.img-wrap{
		margin-top:$margin*5;
		width: 100%;
		height:0;
		position: relative;
		padding-bottom: 56.25%;
		img{  		
			position: absolute;
			height: 100%;
			width: 100%;
			}
		}

		.txt{
			padding:$padding $padding*2;
			.custom-h5{
				font-weight:400;
			}
			.date{
				color:$grey;
				font-size:14px;
				padding-bottom:$padding*2;
			}
			p{
				border-top:solid 2px #eee;
				padding-top:$padding*2;
				text-align: justify;
			}
		}

		&:hover{
			box-shdow:
			rgba(45,45,45,0.05) 0px 2px 2px, 
			rgba(49,49,49,0.05) 0px 4px 4px, 
			rgba(42,42,42,0.05) 0px 8px 8px, 
			rgba(32,32,32,0.05) 0px 16px 16px, 
			rgba(49,49,49,0.05) 0px 32px 32px, 
			rgba(35,35,35,0.05) 0px 64px 64px;
			transform:translate(0, -4px);
			opacity:1;
		}
	}
	



// ===================
// $location
// ===================

#location-section{
	z-index:5;
	position: relative;
	padding-top:$padding*16;
	padding-left:$padding*5;
	@media (max-width: 991px){
		padding-top:$padding*5;
	}
	.content-wrap{
		width: 100%;
		height: 100%;
			li{
				display:flex;
				align-items:start;
		span:nth-child(1){
			display:inline-block;
			width: 20%;
			}
		span:nth-child(2){
			display:inline-block;
			width: 70%;
			}
		@media screen and (max-width:767px){
				padding-bottom:$padding;
				span:nth-child(1){
					width: 30%;
				}
				span:nth-child(2){
					width: 60%;
				}	
			}		
		}
		.title-area{
			padding-bottom:$padding*8;
			@media (max-width: 991px){
				padding-bottom:$padding*3;
			}
			.custom-h5{
				font-weight:400;
				position: relative;
				&:before{
					content:'';
					display: block;
					width: 10px;
					height:28px;
					background-color:$brand-color;
					position: absolute;
					left:-26px;
				}
			}
		}

		.content{
			font-weight:300;
		}	
	}


	.map-wrap{
		width: 100%;
		position: relative;
		padding-bottom: 56.25%;
		@media (max-width: 991px){
			margin-bottom: 50px;
		}
		iframe{
			height: 100%;
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}


#location-bg{
	z-index: -1;
	position:relative;
	.img-wrap{
		width: 100%;
		position: relative;
		padding-bottom: 56.25%;
		position: relative;
		margin-top:-160px;
		.bg-mask{
			position: absolute;
			top:0;
			bottom:0;
			left: 0;
			right:0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to top, rgba(249, 249, 249, 0) 0%, rgba(249, 249, 249, 1) 100%);
			z-index:-2;
		}

		img{
			height: 100%;
			width: 100%;
			position: absolute;
			// top: 50%;
			// left: 50%;
			// transform: translate(-50%, -50%);
			z-index:-3;
			}
		}
	}



ul.custom-pagination{
	margin-top:$margin*5;
	li{
		width: 30px;
		height:30px;
		border:1px solid #c9c7c7;
		display: inline-block;
		line-height:30px;

		a{
			color:$grey;
			display: inline-block;
			text-align:center;
			width: 100%;
			height:100%;
			transition:.1s;
			&:hover{
				background-color:#c9c7c7;
				color:$white;

			}
		}
	}
}