@charset "UTF-8";
* {
  letter-spacing: 1px; }

header#section_header .slider-wrap .img-wrap {
  position: relative;
  padding-bottom: 40%;
  overflow: hidden; }
  header#section_header .slider-wrap .img-wrap img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

header#section_header .slider-wrap ul.slick-dots {
  bottom: 20px; }
  header#section_header .slider-wrap ul.slick-dots li button:before {
    color: white; }

section#section_product {
  padding: 60px 0; }
  section#section_product .col-md-7, section#section_product .col-md-5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  section#section_product .product-detail .product-title {
    text-align: center;
    border-bottom: 1px solid #333;
    padding-bottom: 30px; }
    section#section_product .product-detail .product-title > div {
      margin-bottom: 15px; }
    section#section_product .product-detail .product-title .product-name {
      font-size: 18px; }
    section#section_product .product-detail .product-title .product-sub-name {
      color: #7e7e7e;
      font-weight: 300; }
    section#section_product .product-detail .product-title .product-des {
      font-weight: 300; }
      section#section_product .product-detail .product-title .product-des .price {
        font-weight: 400;
        margin-left: 30px; }
  section#section_product .product-detail .seemore-area {
    text-align: right;
    padding: 20px 0; }
    section#section_product .product-detail .seemore-area button {
      background: none;
      border: none;
      font-size: 16px;
      cursor: pointer;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      section#section_product .product-detail .seemore-area button:hover {
        -webkit-transform: translateY(2px);
            -ms-transform: translateY(2px);
                transform: translateY(2px);
        text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }
  section#section_product .product-main-img {
    width: 100%; }
    @media (max-width: 767px) {
      section#section_product .product-main-img {
        width: 50%;
        margin-bottom: 40px; } }
    section#section_product .product-main-img img {
      width: 100%; }
  section#section_product .slider-nav {
    margin-top: 20px; }
    @media (max-width: 767px) {
      section#section_product .slider-nav {
        display: none; } }
    section#section_product .slider-nav .img-wrap {
      cursor: pointer;
      overflow: hidden;
      position: relative;
      padding-bottom: 100%; }
      section#section_product .slider-nav .img-wrap:hover img {
        -webkit-transform: translate(-50%, -50%) scale(1.05);
            -ms-transform: translate(-50%, -50%) scale(1.05);
                transform: translate(-50%, -50%) scale(1.05); }
      section#section_product .slider-nav .img-wrap img {
        width: 95%;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
    section#section_product .slider-nav .slick-slide > div {
      border: 1px solid transparent; }
    section#section_product .slider-nav .slick-current > div {
      border: 1px solid #ccc; }
  @media (max-width: 580px) {
    section#section_product .slick-arrow {
      top: 30% !important; }
    section#section_product .slick-next {
      right: 25px !important; }
    section#section_product .slick-prev {
      left: 25px !important; } }

section#section_banner3 .img-wrap {
  width: 100%; }
  section#section_banner3 .img-wrap img {
    width: 100%; }

section#video {
  padding: 80px 0; }
  section#video .col-lg-6 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  section#video .video-wrap {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; }
    @media (max-width: 991px) {
      section#video .video-wrap {
        margin-bottom: 50px; } }
    section#video .video-wrap iframe {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  section#video .content-wrap .title-area {
    text-align: center;
    margin-bottom: 50px; }
    section#video .content-wrap .title-area h2 {
      font-size: 20px;
      margin: 10px 0;
      letter-spacing: 3px; }
  section#video .content-wrap .content {
    font-weight: 300;
    padding: 0 10px; }
    @media (max-width: 991px) {
      section#video .content-wrap .content {
        padding: 0 0px; } }
    section#video .content-wrap .content p {
      letter-spacing: 1px;
      line-height: 28px;
      color: #666;
      white-space: pre-line;
      text-align: justify; }

section.section_brand {
  background-position: center center;
  background-size: cover;
  height: 500px;
  position: relative;
  overflow: hidden; }
  @media (max-width: 991px) {
    section.section_brand {
      height: 400px; } }
  section.section_brand:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    pointer-events: none; }
  section.section_brand:after {
    content: "代理專區";
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    display: block;
    width: 250px;
    height: 250px;
    background: white;
    position: absolute;
    -webkit-transform: translate(-70%, -50%);
        -ms-transform: translate(-70%, -50%);
            transform: translate(-70%, -50%);
    left: 0;
    top: 50%;
    z-index: 1000;
    border-radius: 50%;
    text-align: center;
    padding-left: 190px;
    letter-spacing: 3px;
    pointer-events: none;
    -webkit-transform: translate(-100%, -50%);
        -ms-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  section.section_brand a {
    display: block;
    width: 100%;
    height: 100%; }
  section.section_brand .logo-area {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 130px; }
    section.section_brand .logo-area img {
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      width: 100%;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d; }
  section.section_brand:hover:after {
    -webkit-transform: translate(-70%, -50%);
        -ms-transform: translate(-70%, -50%);
            transform: translate(-70%, -50%); }
  section.section_brand:hover .bg-img img {
    width: 120%; }
  section.section_brand:hover .logo-area img {
    -webkit-transition-delay: .3s;
         -o-transition-delay: .3s;
            transition-delay: .3s;
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg); }
  section.section_brand .bg-img {
    position: absolute;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: -1;
    height: 100%;
    overflow: hidden; }
    section.section_brand .bg-img img {
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%;
      height: 100%; }

section#contact {
  background-size: cover;
  background-position: center center;
  padding: 80px 0; }
  section#contact .form-wrap {
    background: rgba(255, 255, 255, 0.9);
    padding: 60px 20px;
    max-width: 700px;
    margin: 0 auto; }
    section#contact .form-wrap h2 {
      text-align: center;
      margin-bottom: 50px;
      font-size: 24px; }
    section#contact .form-wrap .input-wrap {
      margin-bottom: 30px; }
      section#contact .form-wrap .input-wrap input, section#contact .form-wrap .input-wrap textarea {
        width: 100%;
        border: 1px solid #ddd;
        padding: 7px 15px;
        border-radius: 5px;
        background: none;
        letter-spacing: 2px; }
      section#contact .form-wrap .input-wrap label {
        margin: 0;
        width: 100%; }
      section#contact .form-wrap .input-wrap span.wpcf7-not-valid-tip {
        font-weight: 300; }
    section#contact .form-wrap .sub-area {
      width: 100%;
      text-align: center; }
      section#contact .form-wrap .sub-area input, section#contact .form-wrap .sub-area button {
        color: white;
        background: black;
        border: none;
        font-weight: 300;
        padding: 10px 40px;
        border-radius: 5px;
        cursor: pointer;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        section#contact .form-wrap .sub-area input:hover, section#contact .form-wrap .sub-area button:hover {
          -webkit-transform: translateY(2px);
              -ms-transform: translateY(2px);
                  transform: translateY(2px);
          -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
                  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7); }
        @media (max-width: 991px) {
          section#contact .form-wrap .sub-area input, section#contact .form-wrap .sub-area button {
            width: 100%; } }
    section#contact .form-wrap ::-webkit-input-placeholder {
      color: #aaa; }
    section#contact .form-wrap :-ms-input-placeholder {
      color: #aaa; }
    section#contact .form-wrap ::-ms-input-placeholder {
      color: #aaa; }
    section#contact .form-wrap ::placeholder {
      color: #aaa; }

footer#section_footer .container {
  padding-top: 80px;
  padding-bottom: 80px; }
  footer#section_footer .container .logo-wrap img {
    width: 100%;
    max-width: 160px; }
  footer#section_footer .container .list-title, footer#section_footer .container .widget-title {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400; }
  footer#section_footer .container .list-wrap ul, footer#section_footer .container .address-wrap ul {
    padding: 0;
    margin: 0; }
    footer#section_footer .container .list-wrap ul li, footer#section_footer .container .address-wrap ul li {
      list-style: none;
      font-size: 14px;
      margin-bottom: 5px;
      color: #777;
      font-weight: 300; }
      footer#section_footer .container .list-wrap ul li a, footer#section_footer .container .address-wrap ul li a {
        cursor: pointer;
        color: #777; }
  footer#section_footer .container .list-wrap {
    width: 60%;
    margin: 0 auto; }
    @media (max-width: 991px) {
      footer#section_footer .container .list-wrap {
        width: 100%;
        margin: 50px 0; } }

footer#section_footer .cpr-area li {
  text-align: center;
  font-size: 12px;
  color: #999;
  background: #f0f0f0;
  padding: 15px 0;
  letter-spacing: 2px;
  list-style: none; }
  footer#section_footer .cpr-area li p {
    margin-bottom: 0; }

nav {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  background: white; }
  nav a.nav-link, nav a.dropdown-item {
    font-size: 14px;
    color: black !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-weight: 300;
    text-align: center; }
  nav a.nav-link {
    position: relative; }
    nav a.nav-link:before {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      width: 0%;
      background-color: #777;
      top: 40px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    nav a.nav-link:hover:before {
      width: 50%; }
    @media (max-width: 991px) {
      nav a.nav-link {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center; } }
  nav .fb-icon-bg {
    position: relative;
    display: block;
    text-align: center; }
    nav .fb-icon-bg .fab {
      color: white; }
      nav .fb-icon-bg .fab:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        height: 25px;
        width: 25px;
        background: #7e7e7e;
        z-index: -1;
        border-radius: 50%; }

.nav-shadow {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); }

.pagination ul li {
  text-align: center !important; }
  .pagination ul li .current {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #c9c7c7;
    color: #fff; }

.section_title .title_section {
  overflow: hidden; }
  .section_title .title_section img {
    height: auto !important; }

#product-intro .col-lg-6 .prduct-wrap {
  overflow: hidden; }
  #product-intro .col-lg-6 .prduct-wrap img {
    height: auto !important; }

#product-intro .col-lg-6 .content-wrap {
  overflow: hidden; }
  #product-intro .col-lg-6 .content-wrap img {
    height: auto !important; }

section#section_content .img-section > .img-wrap {
  overflow: hidden; }
  section#section_content .img-section > .img-wrap > img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
      width-height: 100%; }

.content-block .img-wrap, .content-post .img-wrap {
  overflow: hidden; }
  .content-block .img-wrap img, .content-post .img-wrap img {
    height: auto !important;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.suc-ms {
  color: #990000;
  font-weight: 400;
  letter-spacing: 5px;
  display: none;
  margin-top: 30px; }

section#contact-us-form {
  position: relative; }
  section#contact-us-form:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-image: url(../img/home/contact-bg.png);
    opacity: 0.5;
    z-index: -2;
    background-size: cover;
    background-position: center center; }
  section#contact-us-form .title-wrap {
    background-image: url(../img/arrow-top.png);
    background-size: 100% 100%;
    background-position: center center;
    text-align: center;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    section#contact-us-form .title-wrap h2 {
      font-size: 24px;
      font-weight: 300;
      position: relative; }
      section#contact-us-form .title-wrap h2:before {
        content: "";
        position: absolute;
        display: block;
        width: 25%;
        height: 3px;
        background: #fe925f;
        bottom: -15px;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%); }
  section#contact-us-form .contact-form-wrap {
    position: relative;
    margin: 150px 0; }
    @media (max-width: 576px) {
      section#contact-us-form .contact-form-wrap {
        margin: 120px 0; } }
    section#contact-us-form .contact-form-wrap:before {
      content: "";
      display: block;
      background: white;
      position: absolute;
      width: 110%;
      height: 130%;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: -1;
      -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
              box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3); }
      @media (max-width: 576px) {
        section#contact-us-form .contact-form-wrap:before {
          height: 120%; } }
    section#contact-us-form .contact-form-wrap .input-wrap {
      margin-bottom: 40px; }
      section#contact-us-form .contact-form-wrap .input-wrap span {
        display: block;
        position: relative;
        width: 100%; }
        section#contact-us-form .contact-form-wrap .input-wrap span span {
          position: absolute;
          font-weight: 300;
          bottom: -20px;
          left: 50%;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%);
          color: #cc0000; }
      section#contact-us-form .contact-form-wrap .input-wrap span input, section#contact-us-form .contact-form-wrap .input-wrap span textarea {
        width: 100%;
        height: 35px;
        outline: 0;
        padding: 0 10px;
        border: 0;
        border-bottom: 1px solid #999; }
      section#contact-us-form .contact-form-wrap .input-wrap span textarea {
        height: 250px; }
      section#contact-us-form .contact-form-wrap .input-wrap .label {
        position: absolute;
        pointer-events: none;
        left: 20px;
        top: 4px;
        -webkit-transition: 0.2s ease all;
        -o-transition: 0.2s ease all;
        transition: 0.2s ease all;
        color: #666;
        font-weight: 200;
        font-size: 16px;
        letter-spacing: 2px; }
      section#contact-us-form .contact-form-wrap .input-wrap .your-message + .label {
        top: auto;
        bottom: 50px; }
      section#contact-us-form .contact-form-wrap .input-wrap .label-change {
        top: -15px;
        bottom: 5px;
        left: 20px;
        font-size: 12px;
        color: #fe925f; }
      section#contact-us-form .contact-form-wrap .input-wrap .message-change {
        color: #fe925f;
        bottom: 300px !important;
        left: 20px;
        font-size: 12px; }
  section#contact-us-form .sub-area {
    text-align: center;
    margin-top: 50px;
    margin: 0 15px;
    width: 100%; }
    section#contact-us-form .sub-area input {
      color: white;
      background: #333;
      border: none;
      font-weight: 100;
      padding: 10px 40px;
      border-radius: 5px;
      cursor: pointer;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      section#contact-us-form .sub-area input:hover {
        -webkit-transform: translateY(2px);
            -ms-transform: translateY(2px);
                transform: translateY(2px);
        -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
                box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7); }
      @media (max-width: 991px) {
        section#contact-us-form .sub-area input {
          width: 100%; } }

section#form-location-section {
  background: #2C3E50; }
  section#form-location-section .wrap {
    padding: 10vw 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    min-height: 350px; }
    section#form-location-section .wrap .custom-h5 {
      position: relative;
      font-weight: 400;
      margin-bottom: 20px; }
      @media (max-width: 576px) {
        section#form-location-section .wrap .custom-h5 {
          -webkit-transform: translateX(20px);
              -ms-transform: translateX(20px);
                  transform: translateX(20px); } }
      section#form-location-section .wrap .custom-h5:before {
        position: absolute;
        width: 10px;
        height: 100%;
        content: "";
        display: block;
        background: #fe925f;
        top: 0;
        left: -20px; }
    section#form-location-section .wrap ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 8px; }
      section#form-location-section .wrap ul li span {
        font-weight: 100; }
      section#form-location-section .wrap ul li span:nth-child(1) {
        width: 100px; }
      section#form-location-section .wrap ul li span:nth-child(2) {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1; }
  section#form-location-section .map-wrap {
    min-height: 350px;
    margin-left: -15px;
    margin-right: -15px;
    height: 100%; }
    section#form-location-section .map-wrap iframe {
      width: 100%;
      height: 100%; }

section#news-section .title-wrap {
  width: 100%;
  text-align: center;
  padding: 20px 0; }
  section#news-section .title-wrap h2 {
    font-size: 36px;
    font-weight: 300;
    position: relative;
    display: inline-block; }
    section#news-section .title-wrap h2:before {
      content: "";
      position: absolute;
      display: block;
      width: 40%;
      height: 3px;
      background: #fe925f;
      bottom: -15px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }

section#news-section .title {
  margin-top: 10px; }
  section#news-section .title h5 {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis; }

section#news-section .date {
  padding-bottom: 10px !important; }

section#news-section .cate {
  margin-bottom: 10px; }
  section#news-section .cate a:nth-child(1) {
    display: none; }
  section#news-section .cate a {
    display: inline-block;
    background: #fe925f;
    pointer-events: none;
    border-radius: 5px;
    padding: 3px 15px;
    font-size: 12px;
    color: white;
    font-weight: 300; }

section#news-section .sub-area {
  text-align: center;
  margin-top: 50px;
  margin: 0 15px;
  width: 100%;
  padding: 60px 0; }
  section#news-section .sub-area button {
    color: white;
    background: #333;
    border: none;
    font-weight: 100;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    section#news-section .sub-area button:hover {
      -webkit-transform: translateY(2px);
          -ms-transform: translateY(2px);
              transform: translateY(2px);
      -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
              box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7); }
    @media (max-width: 991px) {
      section#news-section .sub-area button {
        width: 100%; } }

section#news-post .date {
  padding-bottom: 10px !important; }

section#news-post .cate {
  margin-bottom: 10px; }
  section#news-post .cate a {
    display: inline-block;
    background: #fe925f;
    pointer-events: none;
    border-radius: 5px;
    padding: 3px 15px;
    font-size: 12px;
    color: white;
    font-weight: 300; }

section.messege #wpcf7-f310-o1 .post-name {
  display: none; }

section.messege #wpcf7-f310-o1 .sub-area {
  text-align: center;
  margin-top: 50px;
  margin: 0 15px;
  width: 100%; }
  section.messege #wpcf7-f310-o1 .sub-area input {
    color: white;
    background: #333;
    border: none;
    font-weight: 100;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    section.messege #wpcf7-f310-o1 .sub-area input:hover {
      -webkit-transform: translateY(2px);
          -ms-transform: translateY(2px);
              transform: translateY(2px);
      -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
              box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7); }
    @media (max-width: 991px) {
      section.messege #wpcf7-f310-o1 .sub-area input {
        width: 100%; } }
