a {
  text-decoration: none;
  color: #000000; }
  a:hover {
    text-decoration: none;
    color: #000000; }

body {
  background-color: #f9f9f9; }

p {
  font-weight: 300; }

.section_title .title_section {
  width: 100%;
  height: 0;
  padding-bottom: 20%;
  position: relative; }
  .section_title .title_section .title_section_mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .3;
    z-index: 1; }
  .section_title .title_section > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
    height: 100%; }
.section_title .title_section_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; }
  .section_title .title_section_wrap .custom-h3 {
    color: #fff;
    font-weight: 400; }
  @media screen and (max-width: 767px) {
    .section_title .title_section_wrap {
      width: 100%; }
      .section_title .title_section_wrap .custom-h3 {
        font-size: 1.5rem;
        text-align: center; } }

section#section_content .txt:first-child {
  margin-top: 56px;
  padding-top: 64px;
  padding-bottom: 64px;
  border-top: 2px solid #e4e4e4;
  border-bottom: 2px solid #e4e4e4; }
  @media screen and (max-width: 767px) {
    section#section_content .txt:first-child {
      padding-top: 40px;
      padding-bottom: 40px; } }
  section#section_content .txt:first-child p:nth-child(1).txt-title {
    color: #7e7e7e;
    text-transform: uppercase; }
  section#section_content .txt:first-child p:nth-child(1) {
    color: #454545; }
  section#section_content .txt:first-child p:nth-child(2) {
    color: #454545; }
section#section_content .img-wrap {
  margin-top: 40px;
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%; }
  section#section_content .img-wrap img {
    position: absolute;
    height: 100%;
    width: 100%; }
section#section_content .txt:nth-child(3) {
  padding-top: 64px;
  padding-bottom: 64px; }
  @media screen and (max-width: 767px) {
    section#section_content .txt:nth-child(3) {
      padding-top: 40px;
      padding-bottom: 40px; } }
  section#section_content .txt:nth-child(3) p {
    color: #454545; }
section#section_content .img-section {
  width: 100%; }
  section#section_content .img-section > .img-wrap {
    display: inline-block;
    position: relative;
    width: calc(50% - 12px);
    height: 0;
    padding-bottom: calc(50% - 12px);
    margin-bottom: 24px;
    margin-top: 0; }
    section#section_content .img-section > .img-wrap > img {
      height: 100%;
      width: 100%;
      position: absolute; }
@media (max-width: 991px) {
  section#section_content .img-section > .img-wrap {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%; }
    section#section_content .img-section > .img-wrap > img {
      height: 100%;
      width: 100%;
      position: absolute; } }

#product-intro {
  padding: 80px 0; }
  @media (max-width: 991px) {
    #product-intro {
      padding: 40px 0; } }
  #product-intro .col-lg-6 {
    justify-content: center;
    align-items: center;
    display: flex; }
    #product-intro .col-lg-6 .prduct-wrap {
      width: 100%;
      position: relative;
      padding-bottom: 56.25%; }
      @media (max-width: 991px) {
        #product-intro .col-lg-6 .prduct-wrap {
          margin-bottom: 24px; } }
      #product-intro .col-lg-6 .prduct-wrap img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    #product-intro .col-lg-6 .content-wrap {
      width: 100%;
      height: 100%; }
      #product-intro .col-lg-6 .content-wrap .title-area .custom-h4 {
        font-weight: 400; }
      #product-intro .col-lg-6 .content-wrap .content {
        font-weight: 300; }
        @media (max-width: 991px) {
          #product-intro .col-lg-6 .content-wrap .content {
            padding: 0 0px; } }
        #product-intro .col-lg-6 .content-wrap .content > div:nth-child(1) {
          text-decoration: underline; }
        #product-intro .col-lg-6 .content-wrap .content span {
          letter-spacing: 2px;
          line-height: 28px;
          color: #666; }
      #product-intro .col-lg-6 .content-wrap .img-wrap {
        width: 33%;
        position: relative;
        padding-bottom: 19.14%; }
      #product-intro .col-lg-6 .content-wrap img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

#product-post .txt {
  color: #454545;
  font-weight: 300;
  margin-bottom: 64px; }
  @media (max-width: 991px) {
    #product-post .txt {
      margin-bottom: 40px; } }
#product-post .img-box .img-wrap {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%; }
  #product-post .img-box .img-wrap + .img-wrap {
    margin-top: 24px; }
    @media (max-width: 991px) {
      #product-post .img-box .img-wrap + .img-wrap {
        margin-top: 8px; } }
  #product-post .img-box .img-wrap img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

section.messege {
  background-size: cover;
  background-position: center center;
  padding: 80px 0; }
  @media (max-width: 991px) {
    section.messege {
      padding: 0px 0; } }
  section.messege .form-wrap {
    padding: 60px 20px;
    margin: 0 auto; }
    section.messege .form-wrap ::placeholder {
      color: #aaa; }
    section.messege .form-wrap h2 {
      text-align: center;
      margin-bottom: 50px;
      font-size: 24px; }
  section.messege .input-wrap {
    margin-bottom: 30px; }
    section.messege .input-wrap input, section.messege .input-wrap textarea {
      width: 100%;
      border: 1px solid #ddd;
      padding: 7px 15px;
      border-radius: 5px;
      background: none;
      letter-spacing: 2px; }
  section.messege .sub-area {
    text-align: center; }
    section.messege .sub-area button {
      color: white;
      background: black;
      border: none;
      font-weight: 300;
      padding: 10px 40px;
      border-radius: 5px;
      cursor: pointer;
      transition: .3s; }
      section.messege .sub-area button:hover {
        transform: translateY(2px);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7); }

#news-post {
  margin-top: 64px; }
  @media screen and (max-width: 767px) {
    #news-post {
      margin-top: 40px; } }

.content-post .title .custom-h4 {
  font-weight: 400; }
.content-post .date {
  color: #7e7e7e;
  font-size: 14px; }
.content-post .img-wrap {
  margin-top: 8px;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%; }
  .content-post .img-wrap + .img-wrap {
    margin-top: 24px; }
    @media (max-width: 991px) {
      .content-post .img-wrap + .img-wrap {
        margin-top: 8px; } }
  .content-post .img-wrap img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
.content-post .txt {
  margin-top: 24px; }
.content-post .social-media i.fa-facebook-square {
  color: #3D5A96; }
  .content-post .social-media i.fa-facebook-square:hover {
    color: #273960; }
.content-post .social-media i.fa-twitter-square {
  color: #6BB8EA; }
  .content-post .social-media i.fa-twitter-square:hover {
    color: #2898e0; }

.side-bar {
  margin-top: 56px;
  margin-left: 24px; }
  .side-bar .side-news-box {
    padding-bottom: 48px; }
    .side-bar .side-news-box .title {
      font-size: 18px;
      font-weight: 400;
      position: relative;
      padding-bottom: 48px; }
      .side-bar .side-news-box .title:before {
        content: '';
        display: block;
        width: 10px;
        height: 28px;
        background-color: #fe9260;
        position: absolute;
        left: -26px; }
    .side-bar .side-news-box .post-list li {
      margin-bottom: 16px; }
      .side-bar .side-news-box .post-list li a {
        text-decoration: none;
        color: #000000;
        display: block;
        cursor: pointer; }
        .side-bar .side-news-box .post-list li a:hover {
          color: gray; }
      .side-bar .side-news-box .post-list li time {
        color: #7e7e7e;
        font-size: 14px; }
    .side-bar .side-news-box + .side-news-box {
      padding-top: 48px;
      border-top: 2px solid #cbcbcb; }

#news-section .main-news {
  padding-top: 80px;
  position: relative; }
  @media screen and (max-width: 767px) {
    #news-section .main-news {
      padding-top: 40px; } }
  #news-section .main-news .img-wrap.bg-img {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    position: relative; }
    #news-section .main-news .img-wrap.bg-img .bg-mask {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle at left center, rgba(241, 241, 241, 0) 0%, #f1f1f1 50%, #f1f1f1 100%);
      z-index: 2; }
      @media (max-width: 767px) {
        #news-section .main-news .img-wrap.bg-img .bg-mask {
          background: radial-gradient(circle at left center, rgba(241, 241, 241, 0.5) 0%, #f1f1f1 80%, #f1f1f1 100%); } }
    #news-section .main-news .img-wrap.bg-img img {
      height: 100%;
      width: 100%;
      position: absolute; }
  #news-section .main-news .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2; }
    #news-section .main-news .content .title {
      padding-bottom: 8px; }
      @media screen and (max-width: 767px) {
        #news-section .main-news .content .title {
          padding-top: 8px; } }
      #news-section .main-news .content .title .tag, #news-section .main-news .content .title .custom-h5 {
        font-weight: 400; }
    #news-section .main-news .content .seemore-area {
      text-align: left; }
      #news-section .main-news .content .seemore-area button {
        background: none;
        border: none;
        font-size: 16px;
        cursor: pointer;
        transition: .3s; }
        #news-section .main-news .content .seemore-area button:hover {
          transform: translateY(2px);
          text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }
    @media (max-width: 767px) {
      #news-section .main-news .content {
        position: relative;
        top: 100%;
        transform: translateY(0%); } }

.content-block {
  box-shadow: 0px 0px 10px #cbcbcb;
  transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
  transition-delay: .1s; }
  .content-block .img-wrap {
    margin-top: 40px;
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%; }
    .content-block .img-wrap img {
      position: absolute;
      height: 100%;
      width: 100%; }
  .content-block .txt {
    padding: 8px 16px; }
    .content-block .txt .custom-h5 {
      font-weight: 400; }
    .content-block .txt .date {
      color: #7e7e7e;
      font-size: 14px;
      padding-bottom: 16px; }
    .content-block .txt p {
      border-top: solid 2px #eee;
      padding-top: 16px;
      text-align: justify; }
  .content-block:hover {
    box-shdow: rgba(45, 45, 45, 0.05) 0px 2px 2px, rgba(49, 49, 49, 0.05) 0px 4px 4px, rgba(42, 42, 42, 0.05) 0px 8px 8px, rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.05) 0px 32px 32px, rgba(35, 35, 35, 0.05) 0px 64px 64px;
    transform: translate(0, -4px);
    opacity: 1; }

#location-section {
  z-index: 5;
  position: relative;
  padding-top: 128px;
  padding-left: 40px; }
  @media (max-width: 991px) {
    #location-section {
      padding-top: 40px; } }
  #location-section .content-wrap {
    width: 100%;
    height: 100%; }
    #location-section .content-wrap li {
      display: flex;
      align-items: start; }
      #location-section .content-wrap li span:nth-child(1) {
        display: inline-block;
        width: 20%; }
      #location-section .content-wrap li span:nth-child(2) {
        display: inline-block;
        width: 70%; }
      @media screen and (max-width: 767px) {
        #location-section .content-wrap li {
          padding-bottom: 8px; }
          #location-section .content-wrap li span:nth-child(1) {
            width: 30%; }
          #location-section .content-wrap li span:nth-child(2) {
            width: 60%; } }
    #location-section .content-wrap .title-area {
      padding-bottom: 64px; }
      @media (max-width: 991px) {
        #location-section .content-wrap .title-area {
          padding-bottom: 24px; } }
      #location-section .content-wrap .title-area .custom-h5 {
        font-weight: 400;
        position: relative; }
        #location-section .content-wrap .title-area .custom-h5:before {
          content: '';
          display: block;
          width: 10px;
          height: 28px;
          background-color: #fe9260;
          position: absolute;
          left: -26px; }
    #location-section .content-wrap .content {
      font-weight: 300; }
  #location-section .map-wrap {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; }
    @media (max-width: 991px) {
      #location-section .map-wrap {
        margin-bottom: 50px; } }
    #location-section .map-wrap iframe {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

#location-bg {
  z-index: -1;
  position: relative; }
  #location-bg .img-wrap {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    position: relative;
    margin-top: -160px; }
    #location-bg .img-wrap .bg-mask {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba(249, 249, 249, 0) 0%, #f9f9f9 100%);
      z-index: -2; }
    #location-bg .img-wrap img {
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: -3; }

ul.custom-pagination {
  margin-top: 40px; }
  ul.custom-pagination li {
    width: 30px;
    height: 30px;
    border: 1px solid #c9c7c7;
    display: inline-block;
    line-height: 30px; }
    ul.custom-pagination li a {
      color: #7e7e7e;
      display: inline-block;
      text-align: center;
      width: 100%;
      height: 100%;
      transition: .1s; }
      ul.custom-pagination li a:hover {
        background-color: #c9c7c7;
        color: #fff; }
